<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a simple weather app made using NodeJS.</p>
        <p>It takes a WeatherStack API to request for the current weather forecast of any city in the world.</p>
    </div>
    {{>footer}}
</body>

</html>