<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use the search bar to request for the current forecast.</p>
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>