<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{message}}
        <form action="">
            <input placeholder="Location" type="text">
            <button>Search</button>
        </form>

        <h2 id="message-1"></h2>
        <p id="message-2"></p>
        <h3 id="msg-head"></h3>
        <p id="message-3"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>